GCP_PROJECT_ID = "your_project_id_here"
GCP_BRONZE_DATASET_ID= "your dataset_id here"
GCP_SILVER_DATASET_ID= "your dataset_id here"
GCP_GOLD_DATASET_ID= "your dataset_id here"
GOOGLE_APPLICATION_CREDENTIALS = "your_token_here"
GOOGLE_APPLICATION_CREDENTIALS_PATH = "your_json_path_here"