.env
.user.yml/
notebooks/
.ipynb_checkpoints/
*.parquet
*.sqlite
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
.venv/
venv/
env/
target/
dbt_packages/
logs/
.idea/
shelf/
httpRequests/
.vscode/
.user.yml
Thumbs.db
.DS_Store
data/processed/
data/*.json